// Variables

//color Variables
$primary: #2D76F9;
$black: #3E3D4B;
$gray: #BAB9BF;
$light-blue: #EAEDFA;

//Font size variables
$font-size-xl: 2.625rem;
$font-size-lg: 1.875rem;
$font-size-md: 1rem;


//Max width
$max_width: 1200px;

// Breakpoints
$break-xs: 575px;
$break-sm: 576px;
$break-md: 768px;
$break-lg: 992px;

//Gutter 
$gutter: 15;